.titular {
  font-family: Impact;
  font-size: 40px;
  font-style: oblique;
  font-weight: bold;
}

.msg {
  font-family: Times;
  font-size: 18px;
  font-style: oblique;
}

.img-titular {
  border-radius: 20px 40px;
}

.img-miniatura {
  border-radius: 15px;
}

ul{
  font-family: Roboto;
  font-size: 20px;
}

.row > div {
  margin-bottom: 15px;
}
