$breakpoint-tablet: 740px;
$msg-font: Times;

@media (max-width: $breakpoint-tablet){
  .center{
    font-size: 12px;
    top: 32%;
    left: 45%;
    right: -25%;
    transform: translate(-50%, -40%);

  }
}
@media (min-width: $breakpoint-tablet){
  .center{
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}



body {
  background-color: #ffffcc;
}


.row > div {
  margin-bottom: 15px;
}

.center{
  padding-top: 20px;
  position: absolute;
  font-family: $msg-font;
  // font-weight:;

  // position: absolute;
  // font-size: 20px;
  // color: white;
}

.banner {
  width: 100%;
  height: auto;
  opacity: 0.35;
}
.polaroid {
  width: 70%;
  // height: 250px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}


.desc-polaroid {
  text-align: center;
  height: 40px;
  padding: 10px 20px;
}


.titular {
  font-family: Impact;
  font-size: 40px;
  font-style: oblique;
  font-weight: bold;
}

.msg {
  font-family: $msg-font;
  font-size: 18px;
  font-style: oblique;
}

.img-titular {
  border-radius: 20px 40px;
}

.img-miniatura {
  border-radius: 15px;
}

ul{
  font-family: Roboto;
  font-size: 20px;
}
